@media only screen and (min-width: 600px) {
  /* Rotate animation */
  .img-rotate {
    transition: all 0.3s ease-in-out;
  }
  .img-rotate:hover {
    transform: rotate(180deg);
  }

  /* Map marker interaction */
  /* .map-marker {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .map-marker p {
    margin-bottom: 16px;
    color: var(--color-darkest);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.1s 0.1s ease-out;
  }
  .map-marker:hover {
    width: 358px;
    height: 358px;
  }
  .map-marker:hover p {
    opacity: 1;
  } */
}
