@import "./variables.css";

/* ******************* */
/* GENERAL UI ELEMENTS */
/* ******************* */
body {
  width: 100%;
  font-family: var(--font-family);
}
h2 {
  margin-bottom: 22px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 800;
}
button {
  padding: 13px 44px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  color: var(--color-lightest);
  border: none;
  border-radius: 42px;
  background-color: var(--color-primary);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}
.paddingX {
  padding-left: 24px;
  padding-right: 24px;
}
.text-body {
  font-size: 16px;
  line-height: 26px;
}
.hide {
  display: none;
}

/* ****** */
/* LAYOUT */
/* ****** */
/* Navigation */
nav {
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-darkest);
  color: var(--color-lightest);
  z-index: 2;
}
nav img {
  height: 40px;
}
.burger-svg {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 5px;
  cursor: pointer;
}
.x-svg {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 5px;
}
#x-menu {
  position: absolute;
  top: 18px;
  right: 18px;
}
.hidden {
  display: none;
}
.scroll-disabled {
  overflow: hidden;
}
.nav-expanded {
  width: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-lightest);
  z-index: 3;
  overflow-y: scroll;
}
.nav-expanded > .mobile-nav-header {
  height: 56px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-darkest);
  font-size: 38px;
  color: var(--color-lightest);
}
.nav-expanded h1 {
  font-size: 38px;
  font-weight: 800;
}
.nav-expanded > .links-wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-expanded > .links-wrapper li {
  padding-bottom: 40px;
  color: var(--color-darkest);
  font-size: 38px;
  font-weight: 800;
}

.nav-expanded .language-change-wrapper {
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray);
  font-size: 18px;
  font-weight: 600;
}
.nav-expanded .language-change-wrapper a:first-child {
  padding-right: 8px;
  border-right: 4px solid var(--color-light);
}
.nav-expanded .language-change-wrapper a:last-child {
  padding-left: 8px;
}
.nav-expanded a.language-active {
  color: var(--color-darkest);
}
.mobile-nav-footer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  overflow-y: scroll;
}
.some-icons-wrapper {
  margin-bottom: 37px;
}
.some-icons-wrapper img {
  height: 24px;
  padding: 0 16px;
}
.gdpr-links-wrapper {
  margin-bottom: 37px;
}
.gdpr-links-wrapper a {
  padding: 0 12px;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}
.gdpr-links-wrapper a:not(:last-of-type) {
  border-right: 4px solid var(--color-lightest);
}
.contacts-wrapper {
  min-height: 270px;
  width: 60%;
  max-width: 320px;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid var(--color-gray);
}
.contacts-wrapper p {
  padding-bottom: 16px;
}

/* Hero section */
.hero-container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-lightest);
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../assets/images/1858113@2x.png);
  background-position: center;
  background-size: cover;
}
.hero-container h1 {
  position: relative;
  font-weight: 900;
  font-size: 38px;
}
.hero-container h1::before {
  content: "";
  height: 8px;
  width: 48px;
  position: absolute;
  bottom: -12px;
  background: var(--color-accent);
}
.hero-container p {
  max-width: 350px;
  margin-top: 48px;
  margin-bottom: 48px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

/* Slideshow navigation circles */
.circle-wrapper {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.circle-wrapper > div {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: var(--color-lightest);
}
.inactive-circle {
  opacity: 0.75;
}
.active-circle {
  opacity: 1;
}

/* Article */
.article {
  margin-top: 32px;
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
}
.article:last-of-type {
  margin-bottom: 48px;
}
.article__image {
  margin-bottom: 32px;
}
.article p:first-of-type {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-light);
}
.article p:nth-of-type(2) {
  margin-bottom: 33px;
}

/* Contact form section */
.section-contacts {
  padding-top: 36px;
  background: var(--color-lighter);
}
.map-container {
  min-height: 296px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/Image2@2x.png);
  background-position: center top;
  background-size: 200%;
}
.map-marker {
  width: 32px;
  height: 32px;
  background-color: var(--color-accent);
  border-radius: 50%;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 40px;
}
.form-subtitle {
  line-height: 24px;
  color: var(--color-darker);
}
input,
select,
textarea {
  padding: 11px 0px 10px 28px;
  color: var(--color-darker);
  font-size: 14px;
  border: 1px solid var(--color-darkest);
  border-radius: 28px;
  background: transparent;
}
input::placeholder,
textarea::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-darker);
  font-family: var(--font-family);
}
textarea {
  resize: vertical;
}
select {
  width: 100%;
  padding-right: 8px;
  cursor: pointer;
  appearance: none;
}
.select-wrapper {
  width: 100%;
  position: relative;
}
.select-wrapper::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 11px;
  right: 16px;
  border-bottom: 1px solid var(--color-darkest);
  border-left: 1px solid var(--color-darkest);
  cursor: pointer;
  transition: all 0.2s;
  transform: rotate(-45deg);
}
* select {
  color: var(--color-darker);
  font-family: var(--font-family);
}
.checkbox-wrapper {
  margin-top: 23px;
  margin-bottom: 38px;
  display: flex;
}
.checkbox-wrapper > label {
  margin-right: 37px;
  padding-left: 40px;
  padding-top: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

/* Base for label styling */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  margin-right: 37px;
  padding-left: 40px;
  padding-top: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

/* checkbox */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border-radius: 4px;
  transition: all 0.2s;
}

/* checkbox mark */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: "";
  width: 8px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: 8px;
  border-bottom: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  transform: rotate(45deg);
  transition: all 0.2s;
}

/* checkbox nimation */
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0), rotate(45deg);
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1), rotate(45deg);
}
input[type="checkbox"]:not(:checked) + label:before {
  border: 1px solid var(--color-darkest);
}
input[type="checkbox"]:checked + label:before {
  border: 1px solid var(--color-primary);
}

.text-helper {
  margin-top: 8px;
  margin-right: 24px;
  margin-bottom: 12px;
  text-align: right;
  font-size: 12px;
  color: var(--color-dark);
}

/* Footer */
footer {
  padding: 13px 24px;
  display: flex;
  justify-content: space-between;

  background: var(--color-darkest);
  color: var(--color-lightest);
}
footer img {
  height: 24px;
}
.footer-links-wrapper {
  display: none;
}
footer p {
  font-size: 12px;
  font-weight: 500;
}
